.send-button {
  background-color: rgb(0, 123, 255);
  color: white;
  border: none;
  padding: 12px 20px;
  margin-left: 10px;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.login-input {
  font-size: 15px;
  padding: 12px 15px;
  border-width: 1px;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 10px;

  flex-grow: 1;
}